.header{
	position: relative;
	background-color: var(--black);
	width: 100dvw;
	height: 60px;
}

.title{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 3.0rem;
	font-weight: bold;
	width: min-content;
	z-index: 10;
}

.first{
	color: var(--yellow);
}

.second{
	color: var(--violet);
}
